<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ForgetPasswordtitle</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="bg-navy-blue">
    <%- include("./partials/header.ejs") -%>

    <div
      class="min-h-screen bg-navy-blue text-textlightWhite antialiased px-4 py-6 sm:py-12"
    >
      <div
        class="relative py-3 w-full sm:max-w-xl mx-auto text-center space-y-10"
      >
        <span
          class="text-2xl font-bold font-mono text-textlightWhite opacity-70"
          >ForgetPassword</span
        >
        <div
          class="relative mt-4 bg-light-navy shadow-md sm:rounded-lg text-left"
        >
          <div class="h-2 bg-green rounded-t-md"></div>
          <form>
            <div class="p-10">
              <div>
                <label for="email" class="block font-semibold mt-3"
                  >Email</label
                >
                <input
                  type="email"
                  placeholder="email"
                  name="email"
                  id=""
                  class="border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-1 focus:ring-green-tint rounded-md caret-navy-blue text-navy-blue"
                  required
                />
              </div>
              <div class="flex justify-between items-baseline mt-4">
                <button
                  type="submit"
                  class="mt-4 border font-mono border-green hover:bg-green-tint text-white py-2 px-6 rounded-lg"
                >
                  submit
                </button>
              </div>
              <div class="msg"></div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="/js/index.js"></script>
    <script>
      let form = document.querySelector("form");
      let msg = document.querySelector(".msg");
      form.addEventListener("submit", async (e) => {
        e.preventDefault();
        try {
          const res = await fetch("/auth/forgetpassword", {
            method: "POST",
            body: JSON.stringify({ email: form.email.value }),
            headers: { "Content-Type": "application/json" },
          });
          const data = await res.json();
          console.log(data);
          msg.textContent = data.msg;
          if(data.msg){
            setInterval(() => {
              location.assign("/auth/login");
            }, 2000);
          }
        } catch (err) {
          console.log(err);
        }
      });
    </script>
  </body>
</html>
