<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Post</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="bg-navy-blue">
    <%- include("./partials/header.ejs") -%>

    <div
      class="min-h-screen bg-navy-blue text-textlightWhite antialiased px-4 sm:py-12"
    >
      <div
        class="relative py-3 w-full sm:max-w-xl mx-auto text-center space-y-10"
      >
        <span
          class="text-2xl font-bold font-mono text-textlightWhite opacity-70"
          >PostEdit</span
        >
        <div
          class="relative mt-4 bg-light-navy shadow-md sm:rounded-lg text-left"
        >
          <div class="h-2 bg-green rounded-t-md"></div>
          <form
            action="/user/postedit/<%= post._id %> "
            method="post"
            enctype="multipart/form-data"
          >
            <div class="p-3 sm:p-10">
              <div>
                <label for="Title" class="block font-semibold mt-3 text-"
                  >Title</label
                >
                <input
                  type="text"
                  placeholder="Title"
                  name="title"
                  id=""
                  value="<%= post.title %> "
                  class="border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-1 focus:ring-green-tint rounded-md caret-navy-blue text-navy-blue"
                />
              </div>

              <div>
                <label for="image" class="block font-semibold mt-3 text-"
                  >Add Thumbnail</label
                >
                <input
                  type="file"
                  name="image"
                  id=""
                  class="block mt-2 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold"
                  accept="image/x-png,image/gif,image/jpeg"
                />
              </div>

              <div>
                <label for="body" class="block font-semibold mt-3 text-"
                  >Body</label
                >
                <textarea
                  placeholder="Body"
                  name="body"
                  rows="4"
                  id=""
                  class="block border w-full px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-1 focus:ring-green-tint rounded-md caret-navy-blue text-navy-blue"
                  required
                >
<%= post.body %> </textarea
                >
              </div>
              <button
                type="submit"
                class="mt-4 border font-mono border-green hover:bg-green-tint text-white py-2 px-6 rounded-lg"
              >
                Submit
              </button>
              <button
                class="border-green border-2 w-24 text-center text-sm p-2 rounded-md font-normal hover:bg-green-tint"
              >
                <a href="/user/profile">cancel</a>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="/js/index.js"></script>
  </body>
</html>
