@tailwind base;
@tailwind components;
@tailwind utilities;



/* Hamburger Menu */
.hamburger{
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom{
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle{
    transform: translateY(7px);
}

.hamburger-bottom{
    transform: translateY(14px);
}

.open{
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top{
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-bottom{
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}
.open .hamburger-middle{
    display: none;
}


.popup-overlay {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    display: none;
}

.popup-container {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 90px;
    padding: 24px;
    border-radius: 24px;
    position: relative;
    background-color: 112240;
}

.popup-close {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #64ffda;
    color: #000;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
    transform: rotateZ(45deg);
    cursor: pointer;
}

@media (min-width: 280px) {
    .popup-container{
        margin-top: 46px;
    }  
}